.validationMessage{
	display: inline-block;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

body{
	/*background-color: #E0E6F8;*/
}

.taskViewerDiv{
	background-color: white;
}

.headerDiv{
	border-bottom: 1px solid black;
}

.taskListDiv{
	border-right: 1px solid black;
}

.outOfStock{
	background-color:#F78181;
	
}