<div>		
		<div class="text-center"><h2>Manage Response Templates</h2>
		
			</BR>

			<div class="btn-group-vertical" style="width:300px;">
			  <button type="button" class="btn btn-primary" ng-click="createNew()"><span class="glyphicon glyphicon-star-empty"></span> Create New</button>
			  <button type="button" class="btn btn-primary"  ng-click="editExisting()"><span class="glyphicon glyphicon-pencil"></span> Edit Existing</button>
			  <button type="button" class="btn btn-primary" ng-click="deleteTemplate()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
			  <button type="button" class="btn btn-primary" ng-click="cancel()"> <span class="glyphicon glyphicon-remove"></span> Cancel </button>
			</div>
		
		</div>
</div>



