<!doctype html>
<html ng-app = "woodlodgeMobileApp">
	<head>
		<title>Sales Rep Mobile App</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
			<script src="woodlodgeMobileApp.js"></script>
			<script src="woodlodgeMobileApp.css"></script>
			
	</head>

	<body>
		
		<div class="container" ng-controller="mobileAppController" >
		
			<div class="row headerDiv" id="header" style="padding: 10px 0px 30px 0px">
				<div class="col-lg-3 col-md-3 col-sm-3">
					<img src="images/woodlodge.png" class="img-responsive" style="max-width: 50%; padding:10px;" alt="Woodlodge Logo">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 text-center">
					<h2>New Order Form</h2>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3">
				</div>
			</div>
			
			<div class="row headerDiv" id="header">
		
				<form class="form-horizontal" role="form">
					<!--
					<div class="form-group">
						<label class="col-md-2 control-label">Order Request ID</label>
						<div class="col-md-4">
							<input type="text" class="form-control" name="stockCode" ng-model="formInput.variables[0].value.id" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">Order Request Date</label>
						<div class="col-md-4">
							<input type="text" class="form-control" name="quantity"
								ng-model="formInput.variables[0].value.date" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">Seller ID</label>
						<div class="col-md-4">
							<input type="text" class="form-control" name="price"
								ng-model="formInput.variables[0].value.seller.id" />
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-2 control-label">Seller Name</label>
						<div class="col-md-4">
							<input type="text" class="form-control" name="price"
								ng-model="formInput.variables[0].value.seller.name" />
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-2 control-label">Existing Customer</label>
						<div class="col-md-4">
							<input type="checkbox" class="form-control" name="price"
								ng-model="formInput.variables[0].value.customer.isExistingCustomer" />
						</div>
					</div>
					-->
					<div id="customerSelectionDiv" style="padding-bottom:40px">
						<div class="form-group col-md-3" >
							<label class="col-md-6 control-label">Customer ID:</label>
							<div class="col-md-6">
								<!--<input type="text" class="form-control" name="price"
									ng-model="formInput.variables[0].value.customer.id" /> -->
								<div class="dropdown">
									<button class="btn btn-default dropdown-toggle" type="button"  id="menu1" data-toggle="dropdown"> {{customerDropdownSelection}}
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
									  <li role="presentation"><a ng-click="selectCustomer('NOR24')">NOR24</a></li>
									  <li role="presentation"><a ng-click="selectCustomer('GAZ')">GAZ</a></li>
									  <li role="presentation"><a ng-click="selectCustomer('BIL')">BIL</a></li>
									</ul>
								 </div>	
	
							</div>
						</div>
						
						<div class="form-group col-md-9">
							<label class="col-md-4 control-label">Customer Name:</label>
							<div class="col-md-8">
								<input type="text" class="form-control" name="price" disabled required 
									ng-model="formInput.variables[0].value.customer.name" />
							</div>
						</div>
					</div>
					
				</BR></BR>	
					
				</form>
				
				<table class="table">
					<tr>
						<th>Stock Code</th>
						<th>Name</th>
						<th>Quantity</th>
						<th>Price</th>
					</tr>
					<tr ng-repeat="item in requestedItems">
						<td>{{item.stockCode}}</td>
						<td>{{item.name}}</td>
						<td>{{item.quantity}}</td>
						<td>{{item.price}}</td>
					</tr>
				</table>

				
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addItemModal">
					Add Item	
				</button>
				
				</BR></BR></BR>
				
				<div class="pull-right">
					<div style="width:400px;">
						<button class="btn-lg btn-primary btn-block" ng-click="submit()">Submit</button>
						<button class="btn-lg btn-danger btn-block" ng-click="cancel()">Cancel</button>
					</div>
				</div>

				

				<!-- Modal -->
				<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Add Item</h4>
					  </div>
					  
					  <div class="modal-body" style="padding: 40px 40px">
						<form class="form-horizontal" role="form" ng-submit="addRow()">
							
													
							
							
							<div class="form-group">
								<label class="col-sm-3 col-md-3 col-lg-3 control-label">Stock Code:</label>
								<div class="dropdown col-sm-9 col-md-9 col-lg-9">
									<button class="btn btn-default dropdown-toggle" type="button"  id="menu1" data-toggle="dropdown"> {{stockDropdownSelection}}
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
									  <li role="presentation"><a ng-click="selectStock('ZCTREE')">ZCTREE</a></li>
									  <li role="presentation"><a ng-click="selectStock('TANGO')">TANGO</a></li>
									  <li role="presentation"><a ng-click="selectStock('BIL')">BIL</a></li>
									</ul>
								 </div>
							</div>
							
							
							<div class="form-group"> 
								<label class="col-sm-3 col-md-3 col-lg-3 control-label">Name:</label>
								<div class="col-sm-9 col-md-9 col-lg-9">
									<input type="text" class="form-control" name="name" disabled required
										ng-model="name" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 col-md-3 col-lg-3 control-label">Quantity:</label>
								<div class="col-sm-9 col-md-9 col-lg-9">
									<input type="number" class="form-control" name="quantity" required
										ng-model="quantity" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 col-md-3 col-lg-3 control-label">Agreed Price (£):</label>
								<div class="col-sm-9 col-md-9 col-lg-9">
									<input type="number" step="0.01" class="form-control" name="price" required
										ng-model="agreedPrice" />
								</div>
							</div>
							<div class="form-group">								
								<div style="padding-top:20px;">
									<input type="submit" value="Add" class="btn-lg btn-primary btn-block" />
								</div>
							</div>
						</form>
					  </div>
					  
					</div>
				  </div>
				</div><!--/Modal-->
				
			</div>	<!--/Row--> 
		</div><!--/Container-->
	</body>
</html>